In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('data/NCS_직무기준_직업표.csv', encoding='cp949')
data

          NCS Unnamed: 1 Unnamed: 2    Unnamed: 3  KECO        Unnamed: 5
0     대분류(24)    중분류(81)   소분류(279)    세분류(1,114)    코드               세분류
1      1.사업관리     1.사업관리   1.프로젝트관리  1.공적개발원조사업관리   210       정부·공공행정 전문가
2      1.사업관리     1.사업관리   1.프로젝트관리  1.공적개발원조사업관리   254       국가·지방행정 사무원
3      1.사업관리     1.사업관리   1.프로젝트관리  1.공적개발원조사업관리   255          공공행정 사무원
4      1.사업관리     1.사업관리   1.프로젝트관리      2.프로젝트관리   261        기획·마케팅 사무원
...       ...        ...        ...           ...   ...               ...
1755  24.농림어업       4.수산   3.수산자원관리         3.염생산  9050       농림어업 단순 종사원
1756  24.농림어업       4.수산     4.어촌개발    1.어촌체험상품개발   261        기획·마케팅 사무원
1757  24.농림어업       4.수산     4.어촌개발    1.어촌체험상품개발  5211          여행상품 개발자
1758  24.농림어업       4.수산     4.어촌개발    2.어촌체험시설운영   263  총무 사무원 및 대학 행정조교
1759  24.농림어업       4.수산     4.어촌개발      3.어업환경개선  1553                 9

[1760 rows x 6 columns]

In [5]:
data.columns = ['NCS_대분류', 'NCS_중분류', 'NCS_소분류', 'NCS_세분류', 'KECO_코드', 'KECO_세분류']
data.drop(index=0, inplace=True)
data

      NCS_대분류 NCS_중분류   NCS_소분류       NCS_세분류 KECO_코드          KECO_세분류
1      1.사업관리  1.사업관리  1.프로젝트관리  1.공적개발원조사업관리     210       정부·공공행정 전문가
2      1.사업관리  1.사업관리  1.프로젝트관리  1.공적개발원조사업관리     254       국가·지방행정 사무원
3      1.사업관리  1.사업관리  1.프로젝트관리  1.공적개발원조사업관리     255          공공행정 사무원
4      1.사업관리  1.사업관리  1.프로젝트관리      2.프로젝트관리     261        기획·마케팅 사무원
5      1.사업관리  1.사업관리  1.프로젝트관리      3.산학협력관리     263  총무 사무원 및 대학 행정조교
...       ...     ...       ...           ...     ...               ...
1755  24.농림어업    4.수산  3.수산자원관리         3.염생산    9050       농림어업 단순 종사원
1756  24.농림어업    4.수산    4.어촌개발    1.어촌체험상품개발     261        기획·마케팅 사무원
1757  24.농림어업    4.수산    4.어촌개발    1.어촌체험상품개발    5211          여행상품 개발자
1758  24.농림어업    4.수산    4.어촌개발    2.어촌체험시설운영     263  총무 사무원 및 대학 행정조교
1759  24.농림어업    4.수산    4.어촌개발      3.어업환경개선    1553                 9

[1759 rows x 6 columns]

In [11]:
import re
first_num = re.sub(r'[^0-9]', '', data.iloc[0, 0])
print(first_num, type(first_num))
second_num = re.sub(r'[^0-9]', '', data.iloc[0, 0])
print(second_num, type(second_num))
third_num = re.sub(r'[^0-9]', '', data.iloc[0, 0])
print(third_num, type(third_num))
forth_num = re.sub(r'[^0-9]', '', data.iloc[0, 0])
print(forth_num, type(forth_num))

1 <class 'str'>
1 <class 'str'>
1 <class 'str'>
1 <class 'str'>

In [12]:
import re

ncs_code = []

for i in range(1759):
    first_num = re.sub(r'[^0-9]', '', data.iloc[i, 0])
    if len(first_num) == 1:
        first_num = '0' + first_num
    second_num = re.sub(r'[^0-9]', '', data.iloc[i, 1])
    if len(second_num) == 1:
        second_num = '0' + second_num
    third_num = re.sub(r'[^0-9]', '', data.iloc[i, 2])
    if len(third_num) == 1:
        third_num = '0' + third_num
    forth_num = re.sub(r'[^0-9]', '', data.iloc[i, 3])
    if len(forth_num) == 1:
        forth_num = '0' + forth_num
    
    ncs_code.append(first_num + second_num + third_num + forth_num)

data['NCS_Code'] = ncs_code
data.head()

  NCS_대분류 NCS_중분류   NCS_소분류       NCS_세분류 KECO_코드          KECO_세분류  NCS_Code
1  1.사업관리  1.사업관리  1.프로젝트관리  1.공적개발원조사업관리     210       정부·공공행정 전문가  01010101
2  1.사업관리  1.사업관리  1.프로젝트관리  1.공적개발원조사업관리     254       국가·지방행정 사무원  01010101
3  1.사업관리  1.사업관리  1.프로젝트관리  1.공적개발원조사업관리     255          공공행정 사무원  01010101
4  1.사업관리  1.사업관리  1.프로젝트관리      2.프로젝트관리     261        기획·마케팅 사무원  01010102
5  1.사업관리  1.사업관리  1.프로젝트관리      3.산학협력관리     263  총무 사무원 및 대학 행정조교  01010103

In [13]:
job_code = data[['NCS_Code', 'KECO_코드', 'KECO_세분류']]
job_code

      NCS_Code KECO_코드          KECO_세분류
1     01010101     210       정부·공공행정 전문가
2     01010101     254       국가·지방행정 사무원
3     01010101     255          공공행정 사무원
4     01010102     261        기획·마케팅 사무원
5     01010103     263  총무 사무원 및 대학 행정조교
...        ...     ...               ...
1755  24040303    9050       농림어업 단순 종사원
1756  24040401     261        기획·마케팅 사무원
1757  24040401    5211          여행상품 개발자
1758  24040402     263  총무 사무원 및 대학 행정조교
1759  24040403    1553                 9

[1759 rows x 3 columns]

In [19]:
ncs_info = data[['NCS_Code', 'NCS_대분류', 'NCS_중분류', 'NCS_소분류', 'NCS_세분류']]
ncs_info.drop_duplicates(subset='NCS_Code', inplace=True)
ncs_info.reset_index(drop=True, inplace=True)
ncs_info

C:\Users\hw981\AppData\Local\Temp\ipykernel_1212\2334581240.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ncs_info.drop_duplicates(subset='NCS_Code', inplace=True)

      NCS_Code  NCS_대분류 NCS_중분류   NCS_소분류       NCS_세분류
0     01010101   1.사업관리  1.사업관리  1.프로젝트관리  1.공적개발원조사업관리
1     01010102   1.사업관리  1.사업관리  1.프로젝트관리      2.프로젝트관리
2     01010103   1.사업관리  1.사업관리  1.프로젝트관리      3.산학협력관리
3     01010201   1.사업관리  1.사업관리    2.해외관리    1.해외법인설립관리
4     01010202   1.사업관리  1.사업관리    2.해외관리      2.해외취업관리
...        ...      ...     ...       ...           ...
1110  24040302  24.농림어업    4.수산  3.수산자원관리      2.수산질병관리
1111  24040303  24.농림어업    4.수산  3.수산자원관리         3.염생산
1112  24040401  24.농림어업    4.수산    4.어촌개발    1.어촌체험상품개발
1113  24040402  24.농림어업    4.수산    4.어촌개발    2.어촌체험시설운영
1114  24040403  24.농림어업    4.수산    4.어촌개발      3.어업환경개선

[1115 rows x 5 columns]

In [20]:
job_code.to_csv('data/NCS_code_jobname.csv', index=False, encoding='utf-8')
ncs_info.to_csv('data/NCS_code_info.csv', index=False, encoding='utf-8')