## 세부 직군 별로 가져오기

In [2]:
import numpy as np
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service as ChromeService
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import time

# 크롤링 결과 데이터 받을 DataFrame 생성
wanted_DBA = pd.DataFrame(columns=['stack', 'preference', 'region'], index=[0])

# selenium 실행
driver = webdriver.Chrome(service=ChromeService(ChromeDriverManager().install()))

# 원티드 개발직군 - DBA + 데이터엔지니어
driver.get('https://www.wanted.co.kr/wdlist/518?country=kr&job_sort=job.latest_order&years=-1&selected=655&selected=10231&locations=all')

# 현재 페이지 높이 = last_height
last_height = driver.execute_script("return document.body.scrollHeight")

PAUSE_SEC = 3

while True:
    # 스크롤 끝까지 내리기
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    # 스크롤 내린 후 페이지 로딩을 위한 시간
    time.sleep(PAUSE_SEC)
    
    # 스크롤 내린 후 페이지 높이
    new_height = driver.execute_script("return document.body.scrollHeight")
    
    # 더이상 스크롤이 내려가지 않으면 스크롤 내리는 반복문 멈춤
    if new_height == last_height:
        break
    # 스크롤 내린 후 페이지 높이를 현재 페이지 높이 변수에 저장
    last_height = new_height

time.sleep(3)

position_link = driver.find_elements(By.CSS_SELECTOR, "div.List_List_container__JnQMS ul li div a")
time.sleep(2)

links = []
for i in position_link:
    # 링크 받아오기
    links.append(i.get_attribute('href'))

for i in links:
    # 변수 초기화
    preference = ''
    stack = ''
    # 오류 발생시 넘기도록 설정
    try:
        time.sleep(1)
        driver.get(i)
        time.sleep(5)
        
        # 회사명 받아오기
        company = driver.find_element(By.CSS_SELECTOR, "section.JobHeader_className__HttDA div").text
        # 상세 정보 데이터 받아오기
        detail = driver.find_elements(By.CSS_SELECTOR, "section.JobDescription_JobDescription__VWfcb p")
        del detail[0]
        detail_head = driver.find_elements(By.CSS_SELECTOR, "section.JobDescription_JobDescription__VWfcb h6")
        # 지역정보 받아오기
        region = driver.find_elements(By.CSS_SELECTOR, "span.JobHeader_pcLocationContainer__xRwIv")[0].text
        
        # 필요로하는 우대사항과 스택 데이터만 저장
        for j in range(len(detail)):
            if detail_head[j].text == '우대사항':
                preference = detail[j].text
            elif detail_head[j].text == '기술스택 ・ 툴':
                stack = detail[j].text
        
        target = pd.DataFrame({'company':company, 'stack':stack, 'preference':preference, 'region':region, 'link':i}, index=[0])
        
        wanted_DBA = pd.concat([wanted_DBA, target], ignore_index=True)
    except:
        pass

driver.quit()

wanted_DBA.to_csv('data/wanted_crawling_DBA_DE_pre.csv', index=False)

In [4]:
import numpy as np
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service as ChromeService
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import time

# 크롤링 결과 데이터 받을 DataFrame 생성
wanted_MLE = pd.DataFrame(columns=['stack', 'preference', 'region'], index=[0])

# selenium 실행
driver = webdriver.Chrome(service=ChromeService(ChromeDriverManager().install()))

# 원티드 개발직군 - 머신러닝 엔지니어
driver.get('https://www.wanted.co.kr/wdlist/518/1634?country=kr&job_sort=job.latest_order&years=-1&locations=all')

# 현재 페이지 높이 = last_height
last_height = driver.execute_script("return document.body.scrollHeight")

PAUSE_SEC = 3

while True:
    # 스크롤 끝까지 내리기
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    # 스크롤 내린 후 페이지 로딩을 위한 시간
    time.sleep(PAUSE_SEC)
    
    # 스크롤 내린 후 페이지 높이
    new_height = driver.execute_script("return document.body.scrollHeight")
    
    # 더이상 스크롤이 내려가지 않으면 스크롤 내리는 반복문 멈춤
    if new_height == last_height:
        break
    # 스크롤 내린 후 페이지 높이를 현재 페이지 높이 변수에 저장
    last_height = new_height

time.sleep(3)

position_link = driver.find_elements(By.CSS_SELECTOR, "div.List_List_container__JnQMS ul li div a")
time.sleep(2)

links = []
for i in position_link:
    # 링크 받아오기
    links.append(i.get_attribute('href'))

for i in links:
    # 변수 초기화
    preference = ''
    stack = ''
    # 오류 발생시 넘기도록 설정
    try:
        time.sleep(1)
        driver.get(i)
        time.sleep(5)
        
        # 회사명 받아오기
        company = driver.find_element(By.CSS_SELECTOR, "section.JobHeader_className__HttDA div").text
        # 상세 정보 데이터 받아오기
        detail = driver.find_elements(By.CSS_SELECTOR, "section.JobDescription_JobDescription__VWfcb p")
        del detail[0]
        detail_head = driver.find_elements(By.CSS_SELECTOR, "section.JobDescription_JobDescription__VWfcb h6")
        # 지역정보 받아오기
        region = driver.find_elements(By.CSS_SELECTOR, "span.JobHeader_pcLocationContainer__xRwIv")[0].text
        
        # 필요로하는 우대사항과 스택 데이터만 저장
        for j in range(len(detail)):
            if detail_head[j].text == '우대사항':
                preference = detail[j].text
            elif detail_head[j].text == '기술스택 ・ 툴':
                stack = detail[j].text
        
        target = pd.DataFrame({'company':company, 'stack':stack, 'preference':preference, 'region':region, 'link':i}, index=[0])
        
        wanted_MLE = pd.concat([wanted_MLE, target], ignore_index=True)
    except:
        pass

driver.quit()

wanted_MLE.to_csv('data/wanted_crawling_MLE_pre.csv', index=False)

In [77]:
import pandas as pd
import numpy as np

wanted_MLE = pd.read_csv('data/wanted_crawling_MLE_pre.csv')
wanted_crawling_DBA_DE = pd.read_csv('data/wanted_crawling_DBA_DE_pre.csv')

In [78]:
wanted_MLE.head()

,stack,preference,region,company,link
0,NaN,NaN,NaN,NaN,NaN
1,Java\nPython,"ㆍ학사학위 후 석사학위를 소지하신 분 (원격탐사, 사진측량, GIS 분야 매우 우대...",서울.한국,이노팸\n서울.한국,https://www.wanted.co.kr/wd/183398
2,Pytorch\nPython\nDocker\nGCP\nML,• Research experience and interest in data-ori...,서울.한국,루닛(Lunit)\n응답률 높음\n서울.한국,https://www.wanted.co.kr/wd/183295
3,Pytorch\nPython\nDocker\nGCP\nML,"• Experience with parallel, distributed, and c...",서울.한국,루닛(Lunit)\n응답률 높음\n서울.한국,https://www.wanted.co.kr/wd/183294
4,C++\nROS,"• 석사 이상의 학력 혹은 3년 이상의 경력\n• 모션 제어, 최적 제어, 경로 생...",인천.한국,시스콘\n인천.한국,https://www.wanted.co.kr/wd/183062

In [79]:
# 빈 문자열 nan 값 처리
wanted_MLE.loc[wanted_MLE['stack'] == '', 'stack'] = np.NaN
wanted_MLE.loc[wanted_MLE['preference'] == '', 'preference'] = np.NaN
wanted_MLE.loc[wanted_MLE['region'] == '', 'region'] = np.NaN

wanted_crawling_DBA_DE.loc[wanted_crawling_DBA_DE['stack'] == '', 'stack'] = np.NaN
wanted_crawling_DBA_DE.loc[wanted_crawling_DBA_DE['preference'] == '', 'preference'] = np.NaN
wanted_crawling_DBA_DE.loc[wanted_crawling_DBA_DE['region'] == '', 'region'] = np.NaN

In [80]:
# 각 데이터 개행문자 처리
wanted_MLE['stack'] = wanted_MLE['stack'].str.split('\n')
wanted_MLE['preference'] = wanted_MLE['preference'].str.replace('• ', '', regex=True).str.split('\n')
wanted_MLE['region'] = wanted_MLE['region'].str.split('.').str[0]
wanted_MLE['company'] = wanted_MLE['company'].astype('str').str.split('\n').str[0]

wanted_crawling_DBA_DE['stack'] = wanted_crawling_DBA_DE['stack'].str.split('\n')
wanted_crawling_DBA_DE['preference'] = wanted_crawling_DBA_DE['preference'].str.replace('• ', '', regex=True).str.split('\n')
wanted_crawling_DBA_DE['region'] = wanted_crawling_DBA_DE['region'].str.split('.').str[0]
wanted_crawling_DBA_DE['company'] = wanted_crawling_DBA_DE['company'].astype('str').str.split('\n').str[0]

In [81]:
# 직업명 추가
wanted_MLE['job_name'] = '머신러닝 엔지니어'
wanted_crawling_DBA_DE['job_name'] = '데이터 엔지니어(DBA)'

In [82]:
wanted_MLE.head()

,stack,preference,region,company,link,job_name
0,NaN,NaN,NaN,nan,NaN,머신러닝 엔지니어
1,"[Java, Python]","[ㆍ학사학위 후 석사학위를 소지하신 분 (원격탐사, 사진측량, GIS 분야 매우 우...",서울,이노팸,https://www.wanted.co.kr/wd/183398,머신러닝 엔지니어
2,"[Pytorch, Python, Docker, GCP, ML]",[Research experience and interest in data-orie...,서울,루닛(Lunit),https://www.wanted.co.kr/wd/183295,머신러닝 엔지니어
3,"[Pytorch, Python, Docker, GCP, ML]","[Experience with parallel, distributed, and cl...",서울,루닛(Lunit),https://www.wanted.co.kr/wd/183294,머신러닝 엔지니어
4,"[C++, ROS]","[석사 이상의 학력 혹은 3년 이상의 경력, 모션 제어, 최적 제어, 경로 생성 개...",인천,시스콘,https://www.wanted.co.kr/wd/183062,머신러닝 엔지니어

In [83]:
wanted_crawling_DBA_DE.head()

,stack,preference,region,company,link,job_name
0,NaN,NaN,NaN,nan,NaN,데이터 엔지니어(DBA)
1,"[Java, Python]","[ㆍ학사학위 후 석사학위를 소지하신 분 (원격탐사, 사진측량, GIS 분야 매우 우...",서울,이노팸,https://www.wanted.co.kr/wd/183398,데이터 엔지니어(DBA)
2,"[SQL, Data Analysis, Power BI, Tableau]",[- Experience with a warehouse-related service...,서울,쿠팡,https://www.wanted.co.kr/wd/183342,데이터 엔지니어(DBA)
3,"[Git, AngularJS, React, JavaScript, Node.js, P...",[AWS Solution Architecture 자격증],서울,디앤에스에버(DNS Ever),https://www.wanted.co.kr/wd/183301,데이터 엔지니어(DBA)
4,"[Confluence, Git, GitLab, JIRA, Python, SQL, N...","[금융 도메인 경험이 있으신 분, 주식 투자에 대한 관심과 경험이 있으신 분, 자연...",서울,웨이커,https://www.wanted.co.kr/wd/183274,데이터 엔지니어(DBA)

In [84]:
# 첫 줄 nan 제거
wanted_MLE.drop(0, axis=0, inplace=True)
wanted_crawling_DBA_DE.drop(0, axis=0, inplace=True)

wanted_MLE.reset_index(drop=True, inplace=True)
wanted_crawling_DBA_DE.reset_index(drop=True, inplace=True)

display(wanted_MLE.head(), wanted_crawling_DBA_DE.head())

,stack,preference,region,company,link,job_name
0,"[Java, Python]","[ㆍ학사학위 후 석사학위를 소지하신 분 (원격탐사, 사진측량, GIS 분야 매우 우...",서울,이노팸,https://www.wanted.co.kr/wd/183398,머신러닝 엔지니어
1,"[Pytorch, Python, Docker, GCP, ML]",[Research experience and interest in data-orie...,서울,루닛(Lunit),https://www.wanted.co.kr/wd/183295,머신러닝 엔지니어
2,"[Pytorch, Python, Docker, GCP, ML]","[Experience with parallel, distributed, and cl...",서울,루닛(Lunit),https://www.wanted.co.kr/wd/183294,머신러닝 엔지니어
3,"[C++, ROS]","[석사 이상의 학력 혹은 3년 이상의 경력, 모션 제어, 최적 제어, 경로 생성 개...",인천,시스콘,https://www.wanted.co.kr/wd/183062,머신러닝 엔지니어
4,"[Git, Django, Pytorch, HTML, JavaScript, Pytho...","[R&D, 납품 용역 과제 수행 및 관리 경험, AI 관련 석사학위 이상의 연구 경...",대전,타이드풀(TIDEPOOL),https://www.wanted.co.kr/wd/183049,머신러닝 엔지니어

,stack,preference,region,company,link,job_name
0,"[Java, Python]","[ㆍ학사학위 후 석사학위를 소지하신 분 (원격탐사, 사진측량, GIS 분야 매우 우...",서울,이노팸,https://www.wanted.co.kr/wd/183398,데이터 엔지니어(DBA)
1,"[SQL, Data Analysis, Power BI, Tableau]",[- Experience with a warehouse-related service...,서울,쿠팡,https://www.wanted.co.kr/wd/183342,데이터 엔지니어(DBA)
2,"[Git, AngularJS, React, JavaScript, Node.js, P...",[AWS Solution Architecture 자격증],서울,디앤에스에버(DNS Ever),https://www.wanted.co.kr/wd/183301,데이터 엔지니어(DBA)
3,"[Confluence, Git, GitLab, JIRA, Python, SQL, N...","[금융 도메인 경험이 있으신 분, 주식 투자에 대한 관심과 경험이 있으신 분, 자연...",서울,웨이커,https://www.wanted.co.kr/wd/183274,데이터 엔지니어(DBA)
4,NaN,"[- GPT-3, HyperCLOVA 등 LLM의 프롬프트 엔지니어링 경험 및 제품...",경기,한글과컴퓨터,https://www.wanted.co.kr/wd/183272,데이터 엔지니어(DBA)

In [85]:
print(len(wanted_MLE), len(wanted_crawling_DBA_DE))

370 415

In [86]:
stacks = pd.concat([wanted_crawling_DBA_DE['stack'], wanted_MLE['stack']], ignore_index=True)
stacks.dropna(inplace=True)
stacks.reset_index(drop=True, inplace=True)
stacks

0                                         [Java, Python]
1                [SQL, Data Analysis, Power BI, Tableau]
2      [Git, AngularJS, React, JavaScript, Node.js, P...
3      [Confluence, Git, GitLab, JIRA, Python, SQL, N...
4      [Git, MySQL, React, Node.js, TypeScript, Postg...
                             ...
565                               [Python, C, C++, CUDA]
566                 [Confluence, Git, JIRA, Swift, MVVM]
567                                             [Docker]
568                           [Git, Python, AWS, Docker]
569    [Android, iOS, Java, JavaScript, Python, TypeS...
Name: stack, Length: 570, dtype: object

In [111]:
# 전체 스택 리스트 생성
stacks = pd.concat([wanted_crawling_DBA_DE['stack'], wanted_MLE['stack']], ignore_index=True)
stacks.dropna(inplace=True)
stacks.reset_index(drop=True, inplace=True)

stack_list = []
for i in stacks:
    for j in i:
        stack_list.append(j)
stack_list

stacks_count = pd.DataFrame(pd.Series(data=stack_list).value_counts()).reset_index()

stacks_count.columns= ['stack', 'count']

del_stack = ['데이터 분석', 'Data Analysis', '검증', '카메라', '프로젝트', '정부', '제품', '보안', 'SAP',
             'Leadership', '네비게이션', '금융', 'CCTV', '수학', '콘텐츠', '개인화', '학습', '최적화',
             '인프라', '강의', '학술', '반도체', '의료', '고객', '문서', '해결', '교육', '과학', '관리', '복제',
             '분석', '모델링', 'RTL', '펌웨어', '개발', '조사', 'SCM', '유지보수', '설계', '재무 제표', '차량',
             '기획', '컴파일러', '소켓', '운영', '작성', '컨설팅', '사무', 'FPGA', '공학', '로봇', '은행', '재무',
             '사업', '카지노', '플레이', '빌딩', '시장', '백 오피스', '임베디드', '손익', '신용', '테스트', '내시경',
             '리팩토링', '백신', '구조', '데이터', '통계', 'QA 엔지니어링', 'MVVM', 'Product Management', 'EDA', 'API', 'DevOps', 'Agile', '품질']

change_stack = {'RESTful WebServices':'RESTful API', 'RESTful Architecture':'RESTful API', 'REST':'RESTful API',
                'Excel':'MS Office', '프론트엔드 개발자':'Web', '백엔드 개발':'Web', '인공 지능':'AI', '영어 실력':'제2외국어', '데이터베이스':'DB',
                '데이터베이스 관리':'DB', '딥 러닝':'ML/DL', '컴퓨터 비전':'OpenCV', 'SQL 서버':'SQL', 'MS 오피스':'MS Office',
                'iOS 개발':'iOS', '데이터베이스 설계':'DB', '데이터베이스 개발':'DB', '카산드라':'Cassandra', '웹 개발':'Web',
                'SQL DB2':'DB2', '엑셀 모델':'MS Office', 'GIS 시스템':'GIS', 'GIS 응용 시스템':'GIS', 'GIS 응용 프로그램':'GIS',
                '기계 학습 (Machine Learning)':'ML/DL', '모바일 게임 개발':'Mobile', '모바일 게임':'Mobile',
                'Microsoft Word':'MS Office', '다국어':'제2외국어', '앱 서버':'Mobile', '리눅스 서버':'Linux', '클라우드 응용 프로그램':'Cloud',
                '안드로이드 개발':'Android', '안드로이드 SDK':'Android', 'EC2':'AWS', '모바일 기술':'Mobile',
                'CSS3':'CSS', 'iOS 디자인':'iOS', '서버 아키텍처':'OS', 'PowerPoint':'MS Office', 'HTML 5':'HTML',
                '데이터 마트':'DB', '이미지 처리':'ML/DL', '신호 처리':'ML/DL', 'Android Studio':'Android',
                '자연 언어 처리':'ML/DL', 'ML':'ML/DL', 'UI 디자인':'UX/UI', 'UX':'UX/UI', 'DWDM':'DB', 'HTML5':'HTML',
                'Golang':'Go', 'Apple Software':'iOS', '언어학':'제2외국어', '서버':'Server', 'C / C++':'C/C++', 'Embeded C':'C/C++', 'C++':'C/C++', 'C':'C/C++',
                'Embedded Linux':'Linux', 'GCP':'Google Cloud Platform', 'Apache 2':'Apache', 'Apache Spark':'Spark', 'Apache Kafka':'Kafka'}

for k, v in change_stack.items():
    stacks_count.loc[stacks_count['stack'] == k, 'stack'] = v

for i in del_stack:
    stacks_count.loc[stacks_count['stack'].str.contains(i), 'stack'] = 'delete'

stacks_count.loc[stacks_count['stack'] == 'CSS 자바 스크립트']
stacks = list(stacks_count['stack'].unique())

In [112]:
stacks

['Python',
 'AWS',
 'Git',
 'Java',
 'JavaScript',
 'React',
 'Pytorch',
 'MySQL',
 'SQL',
 'Docker',
 'Linux',
 'TypeScript',
 'C/C++',
 'Github',
 'Tensorflow',
 'Spring Framework',
 'Node.js',
 'HTML',
 'PostgreSQL',
 'Kubernetes',
 'Kotlin',
 'Android',
 'JIRA',
 'Google Cloud Platform',
 'iOS',
 'CSS',
 'MongoDB',
 'Swift',
 'Azure',
 'delete',
 'ElasticSearch',
 'Next.js',
 'Slack',
 'Spark',
 'React.js',
 'Spring Boot',
 'Oracle',
 'OpenCV',
 'Notion',
 'C#',
 'Jenkins',
 'React Native',
 'Hadoop',
 'NumPy',
 'Confluence',
 'Go',
 'Redis',
 'MSSQL',
 'Flask',
 'Django',
 'JPA',
 'NodeJS',
 'Google Analytics',
 'Scikit-Learn',
 'PHP',
 'R',
 'NoSQL',
 'CUDA',
 'NLP',
 'Scala',
 'Figma',
 'GitLab',
 'Tableau',
 'RDBMS',
 'ML/DL',
 'Vue.JS',
 'Redux',
 'VueJS',
 'Nest.js',
 'AI',
 'Ubuntu',
 'Web',
 '.NET',
 'OpenStack',
 'Framer',
 'ObjectiveC',
 'Apache',
 'DirectX',
 'CISA',
 'SoC',
 'BI',
 'ExpressJS',
 'Perl',
 'VM웨어',
 'ROS',
 'BitBucket',
 'Verilog',
 'DLP',
 'Shell',
 'Kafka',
 'Citrix',
 'PMP',
 'Xen',
 'Mac',
 'Xamarin',
 '제2외국어',
 'OSS',
 'Firebase',
 'OpenGL',
 'Power BI',
 'ORM',
 'DB',
 'ETL',
 'MS Office',
 'Rust',
 'ES6',
 'HTTP',
 'Flutter',
 'UX/UI',
 'Server',
 'iBatis',
 'RabbitMQ',
 'Qt',
 'CentOS',
 'GraphQL',
 'RedHat',
 'Nginx',
 'Shell Scripting',
 'Kubeflow',
 'Unity3D',
 'SVN',
 'Amplitude',
 'MFC',
 'jQuery',
 'WebGL',
 '3D',
 'DICOM',
 'Shader',
 'CAM',
 'Laravel',
 'GIS',
 'TCL',
 'Embedded C',
 'Delphi',
 'JUnit',
 'STP',
 'Xilinx',
 'Svelte',
 'WPF',
 'Bootstrap',
 'Redmine',
 'Spa',
 'GLSL',
 'ASP .NET',
 'CISSP',
 'SASS',
 'CSS 자바 스크립트',
 'IntelliJ IDEA',
 'UNIX',
 'ITIL',
 'CAD',
 'VPN',
 'SAS',
 'SPSS',
 'Bash',
 'JSP',
 'JSF',
 'SQL Azure',
 'DB2',
 'Angular',
 'Datastage',
 'QlikView',
 'Mobile',
 'OS',
 'Atlassian JIRA',
 'Neo4j',
 'Ethereum',
 'AJAX',
 'Cloud',
 '페르소나',
 'Tomcat',
 'Windows 서버',
 'AngularJS',
 'PaaS',
 'IaaS',
 'MXNET',
 'RPG',
 'GUI',
 'Simulink',
 'Scripting',
 'OOP',
 'Memcached',
 'EPM',
 'ORCAD',
 'RTOS',
 'Active Directory',
 'WinForm',
 'HP',
 'STL',
 'ASIC',
 'SPICE',
 'VHDL',
 'CodeIgniter',
 'EMR',
 'Unreal Engine',
 'Processing',
 'MMO',
 'SQL 튜닝',
 'GCPs',
 'DSL',
 'EnCase',
 'SSAS',
 'Puppet',
 'PACS',
 'HL7',
 'PLC',
 'MES',
 'RHEL',
 'Data Guard',
 'Asana',
 'IPS',
 'Cassandra',
 'SSO',
 '방화벽',
 'SSL',
 'GPU',
 'Spine',
 'NAS',
 'ABAP',
 'VBA',
 'Visual Studio Code',
 'Rx',
 'CRM',
 'OLAP',
 'Mixpanel',
 'ERP 소프트웨어',
 'BGP',
 'SSIS']

In [187]:
no_stack = wanted_MLE.loc[wanted_MLE['stack'].isnull()]
no_stack = no_stack[['preference']]#.reset_index(drop=True)
# no_stack.dropna(axis=0, how='all', inplace=True)
# no_stack = no_stack[['preference']]#.reset_index(drop=True)
no_stack

                                            preference
5    [1) 영상 등 다양한 데이터를 많이 다뤄 보신 분, 2) Mobile/Embedd...
8    [반응형 디자인, 웹 접근성, 웹 표준을 고려한 UI 개발 경험이 있으신 분, We...
10   [기계학습 관련 탑티어 학회 및 저널(NeurIPS, ICLR, ICML, CVPR...
13   [- 데이터 처리의 필요성 및 중요성에 대해 공감하시는 분, - 문제 해결 능력이 ...
16   [추천 엔진 개발 유경험자, Transformer 기반 딥러닝 개발 유경험자, 원활...
..                                                 ...
341  [수학, 통계, 엔지니어링 전공 MS or PH.D, 머신러닝을 인공지능, 데이터 ...
354  [오픈소스 활동 경험자, 관련 분야 논문 게재 이력, 새로운 알고리즘을 상용 시스템...
364  [원활한 의사소통 능력, 적극적으로 서비스 개선에 필요한 업무를 찾고 개선할 수 있...
367  [- 데이터 사이언스 관련 전공자, - 퍼블릭 클라우드 환경 (GCP, AWS, A...
369  [관련 딥러닝 모델 연구/개발자 우대(Tensor Flow, PyTouch), 다양...

[102 rows x 1 columns]

In [89]:
no_stack = wanted_crawling_DBA_DE.loc[wanted_crawling_DBA_DE['stack'].isnull()]
no_stack = no_stack[['preference']].reset_index(drop=True)
no_stack.dropna(axis=0, how='all', inplace=True)
no_stack = no_stack[['preference']].reset_index(drop=True)
no_stack

                                            preference
0    [- GPT-3, HyperCLOVA 등 LLM의 프롬프트 엔지니어링 경험 및 제품...
1    [AI 또는 디지털을 활용한 검색, 기사 발굴, 작성 경험자, 데이터사이언스, 경영...
2    [- 데이터 처리의 필요성 및 중요성에 대해 공감하시는 분, - 문제 해결 능력이 ...
3    [AI 또는 디지털을 활용한 검색, 기사 발굴, 작성 경험자, 데이터사이언스, 경영...
4    [AI 또는 디지털을 활용한 검색, 기사 발굴, 작성 경험자, 데이터사이언스, 웹 ...
..                                                 ...
106  [데이터 모델 검수 및 가이드 경험 있으신 분, 데이터 흐름 분석 및 데이터 표준화...
107  [[이런 분이라면 더 좋아요!], AWS/GCP 등 클라우드 환경에서 데이터 플랫폼...
108  [- 이기종 데이터베이스 마이그레이션 경험이 있으신 분, - 대용량 트래픽 처리를 ...
109  [- 데이터 사이언스 관련 전공자, - 퍼블릭 클라우드 환경 (GCP, AWS, A...
110  [ML 관련 Top-tier 학회 및 저널 Publication 실적, (NeurI...

[111 rows x 1 columns]

In [104]:
# NCS 코드 - 직업 매핑 테이블 생성
ncscode = [20010105, 20010107, 20010204,20010209, 20010211, 20010701, 20010702,
           20010703, 20070704, 20010705, 20010706]

jobs = ['데이터 분석가', '데이터 분석가', '데이터 엔지니어(DBA)',
        '데이터 엔지니어(DBA)', '데이터 엔지니어(DBA)', '머신러닝 엔지니어',
        '데이터 사이언티스트', '데이터 사이언티스트', '데이터 사이언티스트',
        '데이터 사이언티스트', '머신러닝 엔지니어']

ncs_job = pd.DataFrame({'NCS_code':ncscode, 'job_name':jobs})
ncs_job

    NCS_code       job_name
0   20010105        데이터 분석가
1   20010107        데이터 분석가
2   20010204  데이터 엔지니어(DBA)
3   20010209  데이터 엔지니어(DBA)
4   20010211  데이터 엔지니어(DBA)
5   20010701      머신러닝 엔지니어
6   20010702     데이터 사이언티스트
7   20010703     데이터 사이언티스트
8   20070704     데이터 사이언티스트
9   20010705     데이터 사이언티스트
10  20010706      머신러닝 엔지니어

In [105]:
ncs_job.to_csv('data/NCS_jobname.csv', encoding='utf-8', index=False)

In [221]:
import re

# 새로운 DataFrame 생성
new_jobs = pd.DataFrame(columns=['company', 'job_name', 'stack', 'NCS_code', 'link'], index=[0])
new_jobs.drop(0, axis=0, inplace=True)

# 각 스택별로 분리
for i in range(len(wanted_MLE)):
    company = wanted_MLE.iloc[i, 3]
    job_name = wanted_MLE.iloc[i, 5]
    stack = wanted_MLE.iloc[i, 0]
    preference = wanted_MLE.iloc[i, 1]
    link = wanted_MLE.iloc[i, 4]
    ncs_code = ncs_job.loc[ncs_job['job_name'] == job_name, 'NCS_code'].to_list()
    
    # stack이 nan이 아닌 경우
    if type(stack) == list:
        for j in stack:
            if j in stacks:
                for ncs in ncs_code:
                    target = pd.DataFrame({'company':company, 'job_name':job_name, 'stack':j, 'NCS_code':ncs, 'link':link}, index=[0])
                    new_jobs = pd.concat([new_jobs, target], ignore_index=True, axis=0)
    elif type(preference) == list:
        for k in preference:
            # 정규표현식을 이용하여 스택 찾기
            for l in stacks:
                # ++로 인한 오류 방지
                if l == 'C/C++':
                    result = re.findall(r'C/C', str(k))
                    # result 존재 및 stack이 nan이 아닌 경우
                    if result and (not np.isnan(stack)):
                        for v in result:
                            if v in stack:
                                pass
                            else:
                                for ncs in ncs_code:
                                    target = pd.DataFrame({'company':company, 'job_name':job_name, 'stack':l, 'NCS_code':ncs, 'link':link}, index=[0])
                                    new_jobs = pd.concat([new_jobs, target], ignore_index=True, axis=0)
                    # 위 조건에 맞지 않는 경우
                    else:
                        for v in result:
                            for ncs in ncs_code:
                                    target = pd.DataFrame({'company':company, 'job_name':job_name, 'stack':l, 'NCS_code':ncs, 'link':link}, index=[0])
                                    new_jobs = pd.concat([new_jobs, target], ignore_index=True, axis=0)
                # C/C++이 아닌 경우
                else:
                    result = re.findall(r'C/C', str(k))
                    # result 존재 및 stack이 nan이 아닌 경우
                    if result and (not np.isnan(stack)):
                        for v in result:
                            if v in stack:
                                pass
                            else:
                                for ncs in ncs_code:
                                    target = pd.DataFrame({'company':company, 'job_name':job_name, 'stack':l, 'NCS_code':ncs, 'link':link}, index=[0])
                                    new_jobs = pd.concat([new_jobs, target], ignore_index=True, axis=0)
                    # 위 조건에 맞지 않는 경우
                    else:
                        for v in result:
                            for ncs in ncs_code:
                                    target = pd.DataFrame({'company':company, 'job_name':job_name, 'stack':l, 'NCS_code':ncs, 'link':link}, index=[0])
                                    new_jobs = pd.concat([new_jobs, target], ignore_index=True, axis=0)

In [222]:
new_jobs

,company,job_name,stack,NCS_code,link
0,이노팸,머신러닝 엔지니어,Java,20010701,https://www.wanted.co.kr/wd/183398
1,이노팸,머신러닝 엔지니어,Java,20010706,https://www.wanted.co.kr/wd/183398
2,이노팸,머신러닝 엔지니어,Python,20010701,https://www.wanted.co.kr/wd/183398
3,이노팸,머신러닝 엔지니어,Python,20010706,https://www.wanted.co.kr/wd/183398
4,루닛(Lunit),머신러닝 엔지니어,Pytorch,20010701,https://www.wanted.co.kr/wd/183295
...,...,...,...,...,...
3495,액션파워,머신러닝 엔지니어,AWS,20010706,https://www.wanted.co.kr/wd/23634
3496,액션파워,머신러닝 엔지니어,React Native,20010701,https://www.wanted.co.kr/wd/23634
3497,액션파워,머신러닝 엔지니어,React Native,20010706,https://www.wanted.co.kr/wd/23634
3498,액션파워,머신러닝 엔지니어,Redux,20010701,https://www.wanted.co.kr/wd/23634
3499,액션파워,머신러닝 엔지니어,Redux,20010706,https://www.wanted.co.kr/wd/23634

In [223]:
# 각 스택별로 분리
for i in range(len(wanted_crawling_DBA_DE)):
    company = wanted_crawling_DBA_DE.iloc[i, 3]
    job_name = wanted_crawling_DBA_DE.iloc[i, 5]
    stack = wanted_crawling_DBA_DE.iloc[i, 0]
    preference = wanted_crawling_DBA_DE.iloc[i, 1]
    link = wanted_crawling_DBA_DE.iloc[i, 4]
    ncs_code = ncs_job.loc[ncs_job['job_name'] == job_name, 'NCS_code'].to_list()
    
    # stack이 nan이 아닌 경우
    if type(stack) == list:
        for j in stack:
            if j in stacks:
                for ncs in ncs_code:
                    target = pd.DataFrame({'company':company, 'job_name':job_name, 'stack':j, 'NCS_code':ncs, 'link':link}, index=[0])
                    new_jobs = pd.concat([new_jobs, target], ignore_index=True, axis=0)
    elif type(preference) == list:
        for k in preference:
            # 정규표현식을 이용하여 스택 찾기
            for l in stacks:
                # ++로 인한 오류 방지
                if l == 'C/C++':
                    result = re.findall(r'C/C', str(k))
                    # result 존재 및 stack이 nan이 아닌 경우
                    if result and (not np.isnan(stack)):
                        for v in result:
                            if v in stack:
                                pass
                            else:
                                for ncs in ncs_code:
                                    target = pd.DataFrame({'company':company, 'job_name':job_name, 'stack':l, 'NCS_code':ncs, 'link':link}, index=[0])
                                    new_jobs = pd.concat([new_jobs, target], ignore_index=True, axis=0)
                    # 위 조건에 맞지 않는 경우
                    else:
                        for v in result:
                            for ncs in ncs_code:
                                    target = pd.DataFrame({'company':company, 'job_name':job_name, 'stack':l, 'NCS_code':ncs, 'link':link}, index=[0])
                                    new_jobs = pd.concat([new_jobs, target], ignore_index=True, axis=0)
                # C/C++이 아닌 경우
                else:
                    result = re.findall(r'C/C', str(k))
                    # result 존재 및 stack이 nan이 아닌 경우
                    if result and (not np.isnan(stack)):
                        for v in result:
                            if v in stack:
                                pass
                            else:
                                for ncs in ncs_code:
                                    target = pd.DataFrame({'company':company, 'job_name':job_name, 'stack':l, 'NCS_code':ncs, 'link':link}, index=[0])
                                    new_jobs = pd.concat([new_jobs, target], ignore_index=True, axis=0)
                    # 위 조건에 맞지 않는 경우
                    else:
                        for v in result:
                            for ncs in ncs_code:
                                    target = pd.DataFrame({'company':company, 'job_name':job_name, 'stack':l, 'NCS_code':ncs, 'link':link}, index=[0])
                                    new_jobs = pd.concat([new_jobs, target], ignore_index=True, axis=0)

In [224]:
new_jobs

,company,job_name,stack,NCS_code,link
0,이노팸,머신러닝 엔지니어,Java,20010701,https://www.wanted.co.kr/wd/183398
1,이노팸,머신러닝 엔지니어,Java,20010706,https://www.wanted.co.kr/wd/183398
2,이노팸,머신러닝 엔지니어,Python,20010701,https://www.wanted.co.kr/wd/183398
3,이노팸,머신러닝 엔지니어,Python,20010706,https://www.wanted.co.kr/wd/183398
4,루닛(Lunit),머신러닝 엔지니어,Pytorch,20010701,https://www.wanted.co.kr/wd/183295
...,...,...,...,...,...
9978,워트인텔리전스,데이터 엔지니어(DBA),ElasticSearch,20010209,https://www.wanted.co.kr/wd/26823
9979,워트인텔리전스,데이터 엔지니어(DBA),ElasticSearch,20010211,https://www.wanted.co.kr/wd/26823
9980,워트인텔리전스,데이터 엔지니어(DBA),Spring Framework,20010204,https://www.wanted.co.kr/wd/26823
9981,워트인텔리전스,데이터 엔지니어(DBA),Spring Framework,20010209,https://www.wanted.co.kr/wd/26823
9982,워트인텔리전스,데이터 엔지니어(DBA),Spring Framework,20010211,https://www.wanted.co.kr/wd/26823

In [228]:
new_jobs.drop_duplicates(['company', 'job_name', 'stack', 'NCS_code', 'link'], ignore_index=True, inplace=True)
new_jobs

,company,job_name,stack,NCS_code,link
0,이노팸,머신러닝 엔지니어,Java,20010701,https://www.wanted.co.kr/wd/183398
1,이노팸,머신러닝 엔지니어,Java,20010706,https://www.wanted.co.kr/wd/183398
2,이노팸,머신러닝 엔지니어,Python,20010701,https://www.wanted.co.kr/wd/183398
3,이노팸,머신러닝 엔지니어,Python,20010706,https://www.wanted.co.kr/wd/183398
4,루닛(Lunit),머신러닝 엔지니어,Pytorch,20010701,https://www.wanted.co.kr/wd/183295
...,...,...,...,...,...
9978,워트인텔리전스,데이터 엔지니어(DBA),ElasticSearch,20010209,https://www.wanted.co.kr/wd/26823
9979,워트인텔리전스,데이터 엔지니어(DBA),ElasticSearch,20010211,https://www.wanted.co.kr/wd/26823
9980,워트인텔리전스,데이터 엔지니어(DBA),Spring Framework,20010204,https://www.wanted.co.kr/wd/26823
9981,워트인텔리전스,데이터 엔지니어(DBA),Spring Framework,20010209,https://www.wanted.co.kr/wd/26823
9982,워트인텔리전스,데이터 엔지니어(DBA),Spring Framework,20010211,https://www.wanted.co.kr/wd/26823

In [226]:
new_jobs.to_csv('data/원티드_채용공고_DE_DBA_MLE_테이블화.csv', encoding='utf-8', index=False)